*{
    margin:0;
}
.navbar {
    overflow: hidden;
    background-color: rgba(0, 136, 169,1);
  }
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right {
    float: right;
}
.navbar a:hover {
    background-color: black ;
    color:white;
}
.footer {
    width: 100%;
    position: fixed;   
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    bottom: 0;
}
.blog{
    float: center;
}
.isi{
    width:600px;
	padding:25px;
    margin:25px auto;
    color: black;
    font-size: 20px;
}
.row {  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    
}
.main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.dropdown {
    background-color: rgba(0, 136, 169,1);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
.active, .dropdown:hover {
    background-color: #555;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}