*:focus {
    outline: none;
  }  
body {
    margin: 0;
    padding: 0;
    background: #DDD; 
    background-image: url(image/awan.jpg);
} 
.form{
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}  
.kiri {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}
label{
    padding-top: 20px;
}
input[type="text"],input[type="date"]{
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: 1px solid #AAA;
    font-weight: 400;
    font-size: 15px;
}
input[type="submit"] {
    margin-top: 18px;
    width: 120px;
    height: 32px;
    background: rgba(0, 136, 169,1);
    border: none;
    border-radius: 10px;
    color:white;
    text-transform: uppercase;
}
input[type="submit"]:hover{
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.kanan {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}
.kanan .break {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    text-align: center;
}
.unggah {
    margin-bottom: 25px;
}